






    <div class="row">
        <div class="container">


   {{#each articles}}

        <div class="col s12 m6">
            <div class="card blue-grey">
                <div class="card-content white-text">
                    <a href="article/{{_id}}"><span class="card-title">{{title}}</span></a>
                    <p>{{subText}}</p>
                </div>
                <div class="card-action">
                    <p>{{author}}</p>
                    <a href="article/{{_id}}">This is a link</a>
                </div>
            </div>
          
        </div>
        {{/each}}
    </div>

        </div>